@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #0e0e0f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #E74C3C;
    border-radius: 10px;
}